.navigation__container {
  height: 60px;
  position: relative;
  top: 0;
  right: 0;
  left: 0;
  width: 100%;
  border-bottom: 1px solid #eee;
  display: flex;
  justify-content: space-between;
  padding: 0 1rem;
}

.navigation__right {
  display: flex;
  align-items: center;
}

.nav__item,
.navigation__right .auth__action li {
  margin-right: 24px;
  color: #0d0c22;
  transition: color 0.15s cubic-bezier(0.075, 0.82, 0.165, 1);
  font-weight: 500;
  font-family: "Poppins", sans-serif, Arial, Helvetica, sans-serif;
  letter-spacing: 0.6px;
}
.nav__item {
  line-height: 60px;
}

.navigation__left li:hover,
.navigation__right li:hover {
  color: var(--primary);
}

.navigation__left {
  display: flex;
  align-items: center;
}
.auth__action {
  display: flex;
  align-items: center;
}

.auth__action li.signUp {
  background: var(--primary);
  padding: 7px 10px;
  color: #fff;
  border-radius: 8px;
}
.auth__action li.signUp:hover {
  color: #fff;
}

.nav__hover__container {
  min-height: 150px;
  min-width: 300px;
  padding: 20px;
  /* display: -ms-flexbox; */
  /* display: flex; */
  visibility: hidden;
  opacity: 0;
  position: absolute;
  top: 60px;
  z-index: 1;
  border-radius: 12px;
  background-color: #fff;
  -webkit-box-shadow: 0px 7px 40px rgba(0, 0, 0, 0.08);
  box-shadow: 0px 7px 40px rgba(0, 0, 0, 0.08);
}

.navigation__left .nav__hover__container {
  left: -23px;
}

.nav__item {
  position: relative;
}

/* Start Navigation Right Side  */
.navigation__right .nav__hover__container {
  right: -7px;
  top: 50px;
  min-height: 80px;
  padding: 24px 0;
  border-radius: 6px;
  min-width: 250px;
}
.logoutButton {
  width: 100%;
  cursor: pointer;
}

.nav__right__item {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
}

.nav__right__item svg {
  margin-right: 8px;
}

.logoutButton:hover p,
.logoutButton p {
  color: #696969;
  font-weight: 300;
  font-size: 16px;
}

.navigation__right .nav__hover__container li a,
.logoutButton {
  line-height: 10px;
  padding: 12px 20px;
  border-radius: 4px;
  margin: 0px 0px;
  transition: background 0.2s linear;
}

.navigation__right .nav__hover__container li a p,
.navigation__right .nav__hover__container li a:hover p {
  color: #696969;
  font-weight: 300;
  font-size: 16px;
}

.navigation__right .nav__hover__container li a:hover,
.logoutButton:hover {
  background: #f5f5f5;
}

/* Starts Greetings  */
.greetings {
  padding-bottom: 12px;
  line-height: 16px;
  font-size: 11px;
}
.greetings div {
  font-weight: 500;
}

/* Ends Greetings  */

/* End Navigation Right Side  */

.nav__item:hover .nav__hover__container,
.nav__hover__container:hover {
  opacity: 1;
  visibility: visible;
  -webkit-transition: visibility 200ms linear, opacity 150ms linear;
  transition: visibility 200ms linear, opacity 150ms linear;
}
.nav__item:hover::after {
  content: "";
  position: absolute;
  right: -50px;
  width: 60px;
  height: 60px;
  -webkit-clip-path: polygon(0 0, 0% 100%, 100% 100%);
  clip-path: polygon(0 0, 0% 100%, 100% 100%);
}
.nav__item:hover::before {
  content: "";
  position: absolute;
  left: -50px;
  width: 60px;
  height: 60px;
  -webkit-clip-path: polygon(100% 0, 0% 100%, 100% 100%);
  clip-path: polygon(100% 0, 0% 100%, 100% 100%);
}

.logo {
  cursor: pointer;
}
.nav__hover__container ul {
  width: 100%;
}

.nav__hover__container li a {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  padding: 4px 18px;
  transition: all 0.2s ease;
  line-height: 30px;
  border-radius: 12px;
}

.nav__hover__container li {
  margin-bottom: 8px;
}

.nav__hover__container li a p {
  color: #0d0c22;
}

.nav__hover__container li:hover a {
  background-color: rgba(241, 70, 104, 0.05);
}

.nav__hover__container li:hover .nav__hover__text1 {
  color: var(--primary);
}

.nav__hover__container li:hover a .nav__icon {
  transform: translateX(4px);
  opacity: 1;
}

.nav__icon {
  opacity: 0;
  transition: transform 200ms ease-in, opacity 200ms ease-in,
    -webkit-transform 200ms ease-in;
}
.nav__hover__text2 {
  font-size: 14px;
  color: #000;
  font-weight: 300;
}

.logIn,
.signUp {
  cursor: pointer;
  transition: all 0.2s ease;
}
.auth__action li.signUp:hover {
  background: rgba(241, 70, 104, 0.8);
}

/* User Image Starts Here  */

.user__image {
  border-radius: 999px;
  cursor: pointer;
}
/* User Image Ends Here  */

/* User Starts Here  */

.user li {
  margin: 0 12px;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* User Ends Here  */

/* Search Bar  */

.searchBar {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid transparent;
  transition: border 0.2s ease, box-shadow 200ms linear;
  border-radius: 8px;
  width: 140px;
  height: 40px;
  background: #f3f3f4;
  padding: 3px 8px;
}

.searchBar:hover,
.searchBar:focus-within {
  border-color: rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: 0 0 0 4px rgba(234, 76, 137, 0.1);
  box-shadow: 0 0 0 4px rgba(234, 76, 137, 0.1);
  background-color: #fff;
}

.searchBar p {
  margin-left: 6px;
}
.searchInput:active,
.searchInput:focus,
.searchInput {
  border: none;
  outline: none;
}
.searchInput {
  background: inherit;
  width: 100%;
}
.searchBar svg {
  margin-right: 8px;
}
